/* src/components/Navbar.css */
.navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #000;
  }

  .nav-link.active {
    border-bottom: 2px solid #007bff;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  